<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>18/09/04 17:05:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.AddUsers(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cib.digital.tests.AddUserTest@72d1ad2e]">AddUsers</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/09/04 17:05:16</td>   <td>959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.AddUsers(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cib.digital.tests.AddUserTest@72d1ad2e]">AddUsers</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/09/04 17:05:17</td>   <td>1774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.ValidateAddedUser()[pri:0, instance:cib.digital.tests.AddUserTest@72d1ad2e]">ValidateAddedUser</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/09/04 17:05:15</td>   <td>-247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.ValidateUsersTablePage()[pri:0, instance:cib.digital.tests.AddUserTest@72d1ad2e]">ValidateUsersTablePage</td> 
  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/09/04 17:05:08</td>   <td>-7967</td> <td>&nbsp;</td><td title="&gt;&gt;AddUserTest.initialize()[pri:0, instance:cib.digital.tests.AddUserTest@72d1ad2e]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902830499</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/09/04 17:05:17</td>   <td>1847</td> <td>&nbsp;</td><td title="&lt;&lt;AddUserTest.teardown()[pri:0, instance:cib.digital.tests.AddUserTest@72d1ad2e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902830499</td>   <td></td> </tr>
</table>
