<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Users Table</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>18/09/04 14:15:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.AddUsers(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cib.digital.tests.AddUserTest@1189dd52]">AddUsers</td> 
  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/09/04 14:15:30</td>   <td>941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.AddUsers(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cib.digital.tests.AddUserTest@1189dd52]">AddUsers</td> 
  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/09/04 14:15:30</td>   <td>1724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.ValidateAddedUser()[pri:0, instance:cib.digital.tests.AddUserTest@1189dd52]">ValidateAddedUser</td> 
  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/09/04 14:15:28</td>   <td>-242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUserTest.ValidateUsersTablePage()[pri:0, instance:cib.digital.tests.AddUserTest@1189dd52]">ValidateUsersTablePage</td> 
  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/09/04 14:15:21</td>   <td>-7566</td> <td>&nbsp;</td><td title="&gt;&gt;AddUserTest.initialize()[pri:0, instance:cib.digital.tests.AddUserTest@1189dd52]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/09/04 14:15:30</td>   <td>1796</td> <td>&nbsp;</td><td title="&lt;&lt;AddUserTest.teardown()[pri:0, instance:cib.digital.tests.AddUserTest@1189dd52]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@711327356</td>   <td></td> </tr>
</table>
